.member-status-img{
    width : 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.member-status{
    margin-bottom: 0;
    position: relative;
}

.sidebar-online-status{
    color: #62bd19;
    text-shadow: 0 0 5px #62bd19;

}

.sidebar-offline-status{
    color : #FF6347;
}

.sidebar-offline-status, .sidebar-online-status{
    font-size: 10px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 12px;

}

.sidebar{
    max-height: 450px;
    overflow:scroll;
}